@font-face {
    font-family: "typo";
    src: url('mplus-2m-regular.ttf') format('opentype');
  }

@font-face{
  font-family:'svgFont';
  src: url('mplus-2m-regular.ttf') format('opentype');
}

.unclickable{
  pointer-events: none;
}


#zouif{
  transition: opacity .5s;
  opacity: 0;

  padding: 10px;
  position:absolute;
  z-index: 2;
  background-color:white;
  border-style: solid;
  border-color:black;
  max-width: 350px;

}

span > span{
  color:black;
  transition: color 2s;
  cursor: pointer;
}

#zouifBody{
  float: right;
}

#zouifTitle{
  float: left;
  text-transform: capitalize;
  font-family: serif;
  font-size:46px;
  text-decoration: underline;
}

  #srt span em{
    font-style: italic;
    color:grey;
  }

  html{
    width:100%;
    height:100%;
  }

  ::-webkit-scrollbar { 
    display: none; 
}

  body{
    opacity: 1;
    transition: background-color 4s, opacity 1s;
    background-color: darkgrey;
    overflow: hidden;
    font-family: "typo", sans-serif;
    text-align: left;
    margin: 0px;
/*    -webkit-transition: color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
*/
    width:100%;
    height:100%;

    scroll-behavior: unset;
  }

  .paused{
    animation-play-state: paused;
  }

  #night{
    top:0px;
    left:0px;
    position:fixed;
    z-index:100;
    width:100%;
    height:100%;

    background-color: #16002D;
    opacity:0;

    animation: nuitjourBody 150s linear;
    -moz-animation: nuitjourBody 150s linear;
    -webkit-animation: nuitjourBody 150s linear;
    -o-animation: nuitjourBody 150s linear;
    animation-iteration-count: infinite;
  }

  #MAMAN{
    animation:transform 1s;
    position: absolute;
    z-index: 1;
    transform:translateY(0px);
    background: linear-gradient(red, pink, white, white, white, grey, black, black);
  }

  #mamanDiv{
    width:100%;
    height:100%;
    top:0px;
    position: absolute;
    background-color: white;
  }

@keyframes nuitjourBody{
  0%, 100% {opacity:0;}
  45% {opacity:0;}
  75% {opacity:1;}
  85% {opacity:1;}
}


/* une ancienne regle pour A1 qui foutait le sbeul bite 
    jla nik pas completement par aki de cons et pour 
    l'histoire tahu */
/*  #A1{
    font-size:130px;
    color:red;
    transform:matrix(1, 0, 0, 1, -2.0001, 94.7504);
  }

  #A1s{
    transform-origin: 0px,0px;
    transform:matrix(0.189, 0, -0.982, -0.189, -2.0012, 94.7508);
    font-size:687.8953px;
  }*/

  #bottomcontainer{
    margin:0 auto 0 auto;
    width:100%;
  }

  small{
    font-size: 9px;
    color:grey;
    margin-right: 12px;

    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }

  .index{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  #serveur{
    color:blue;
  }

  #client{
    color:red;
  }


  ul{
    padding:0px;
    margin:0px;
  }

  ul#checklist{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    width: 50%;
    transform: translate(25%);
  }

  ul .ok{
    list-style-image: url('ok.ico');
  }

  ul .nope{
    list-style-image: url('nope.ico');
  }

  ul#fiction{
    display: flex;
    flex-direction: column-reverse;
  }


  #gcontainer{
    width:100%;
    height:100%;
    background-color: #333;

    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }

  .barred{
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    color: #989898;
  }

  #srtcontainer{
    /*c'est moi le plus foreground*/
    -webkit-transition: all 2s ease-in-out;
/*    width: 100%;
    height: 10%;
    position: absolute;
*/  }

  .invisible{
    opacity: 0;
  }

  .visible{
    opacity: 1;
  }

  .posmid{
    height : inherit;
    width : inherit;
    background-color: rgba(245, 245, 245, 0);
    /*hum hum transparance*/
    top:45%;
  }

  .posbot{
    height : inherit;
    width : inherit;
    background-color: white;
    top: 90%;
  }

  .postop{
    height : inherit;
    width : inherit;
    background-color: rgba(245, 245, 245, 0);
    /*hum hum transparance*/
    top : 12%;
  }

  #sacbouttons{
    margin-top:12px;
    z-index:11;

    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    top :200%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);

    opacity: 0;
  }

  #formulaire{
    transform: translateY(65vh);

    font-size: 20px;
    border-style:hidden;
    background-color: darkgrey;
    width:75%;
    margin-top:5px;
    margin-left:12.5%;
    padding-left: 2.5%;
    display: none;
    opacity: 0;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  #formulaire:focus{
    outline:0;
  }

  #bumper{
    height:17.5vh;
    background-color:inherit;
  }

  #srt{
    overflow: scroll;

    width: 60vw;
    height: 90vh;

    position: absolute;
    z-index: 2;
    
    color: black;
    font-size:25px;

    margin-top: 30px;
    padding-left: 90px;

/*    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;      
*/
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;

  }

/*  // pour indenter on text wrap! stylé
*/
  #srt{
    margin-left:1em;
  }

  #srt > span{
    margin-left:-1em;
  }

  #srt > span:first-line{
    margin-left:0;
  }





#stats {
  font-size: 0.5em;
}
#stream-ifr {
  display: none;
}
.hide {
  display: none !important;
}

textarea {
  font-size: 50%;
}


body.admin #gcontainer {
  height: 400px;
  position: relative;
}
div.login input {
  background-color: #FFF;
  color: #000;
}




@media (max-width:920px) {
  #nextshow{
    background-position: 0px 32px;
    }
  #first_drawing{
    display:none;
  }
  #inscription{
    text-align: center;
  }
  #success{
    font-size:15px;
  }
  /* #second_drawing{
    margin-left: -85px;
  transform: translateX(-15%);
  }
  */
}

  @media (max-width:500px) {
  #nextshow{
    background-position: 0px 43px;
    }
}


/* Les regex du cul servant à transformer les données svg en truc sympa format css*/

/* (?<=matrix\()[a-zA-Z0-9.,\s-]{0,} */
/* celui la pour isoler les variables de matrix dans le code du svg*/

/* #$2{\nanimation:ombre$2 10s linear;\nanimation-iteration-count: infinite;\n}\n\n@keyframes ombre$2{\n0%,100%{transform:matrix\($4\);}\n75%{transform:matrix\(xxxxx\);}\n}\n\n */
/* celui la pour remplacer les donnes svg simplifiee en id et donnees de la matrix en le code css*/

/* (<text id\=")([a-zA-Z0-9_]{0,}(?=" t))(" transform\="matrix\()((?<=matrix\()[a-zA-Z0-9.,\s-]{0,}) */
/* celui la pour casser le code svg en groupe utiles pour le regex*/


 /*ancien css pour un seul Arbre*/
/*  #Droite_1_{
  animation:ombre1 10s linear;
  animation-iteration-count: infinite;
}

@keyframes ombre1{
  0%,100%{transform:matrix(0.2774, 0, -0.9608, -0.2774, 436.1776, 318.125);}
  75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 436.1777, 318.1248);}
}*/

/*
#OMD1{
animation:ombreOMD1 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD1{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 183.2189, 5042.9023);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 183.1586, 5042.9023);}
85%{opacity:0;}
}

#OMD2{
animation:ombreOMD2 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD2{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 400.0319, 5094.8774);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 399.9716, 5094.877);}
85%{opacity:0;}
}

#OMD3{
animation:ombreOMD3 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD3{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, -72.0329, 5177.916);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, -72.0933, 5177.916);}
85%{opacity:0;}
}

#OMD4{
animation:ombreOMD4 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD4{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 498.2017, 5294.9121);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 498.1413, 5294.9121);}
85%{opacity:0;}
}

#OMD5{
animation:ombreOMD5 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD5{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 720.1912, 5378.936);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 720.1309, 5378.936);}
85%{opacity:0;}
}

#OMD6{
animation:ombreOMD6 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD6{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 61.7247, 5498.9399);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6643, 5498.9399);}
85%{opacity:0;}
}

#D1{
animation:ombreD1 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD1{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 436.1935, 1094.1237);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 436.1614, 1094.1234);}
85%{opacity:0;}
}

#D2{
animation:ombreD2 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD2{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 510.1935, 1638.1237);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 510.1614, 1638.1234);}
85%{opacity:0;}
}

#D3{
animation:ombreD3 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD3{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 354.1935, 1714.1237);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 354.1614, 1714.1234);}
85%{opacity:0;}
}

#D4{
animation:ombreD4 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD4{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 456.1933, 1774.1237);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 456.1613, 1774.1234);}
85%{opacity:0;}
}

#D5{
animation:ombreD5 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD5{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 541.6833, 2128.1262);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 541.6513, 2128.126);}
85%{opacity:0;}
}

#D6{
animation:ombreD6 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD6{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 193.7008, 2225.6213);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 193.6687, 2225.6211);}
85%{opacity:0;}
}

#D7{
animation:ombreD7 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD7{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 633.1788, 2272.1191);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 633.1467, 2272.1189);}
85%{opacity:0;}
}

#D8{
animation:ombreD8 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD8{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 498.1855, 2279.6187);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 498.1535, 2279.6184);}
85%{opacity:0;}
}

#D9{
animation:ombreD9 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD9{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 274.6967, 2287.1184);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 274.6646, 2287.1182);}
85%{opacity:0;}
}

#D10{
animation:ombreD10 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD10{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 162.2023, 2356.115);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 162.1703, 2356.1147);}
85%{opacity:0;}
}

#D11{
animation:ombreD11 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD11{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 1.573814e-02, 2356.115);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.632369e-02, 2356.1147);}
85%{opacity:0;}
}

#D12{
animation:ombreD12 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD12{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 660.1774, 2375.614);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 660.1454, 2375.6138);}
85%{opacity:0;}
}

#D13{
animation:ombreD13 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD13{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 321.1944, 2413.1121);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 321.1623, 2413.1118);}
85%{opacity:0;}
}

#D14{
animation:ombreD14 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD14{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 388.691, 2429.6113);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 388.6589, 2429.6111);}
85%{opacity:0;}
}

#D15{
animation:ombreD15 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD15{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 559.6824, 2444.6104);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 559.6504, 2444.6101);}
85%{opacity:0;}
}

#D16{
animation:ombreD16 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD16{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 78.2065, 2456.6099);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 78.1745, 2456.6096);}
85%{opacity:0;}
}

#D17{
animation:ombreD17 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD17{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 768.1727, 2456.6099);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 768.1407, 2456.6096);}
85%{opacity:0;}
}

#D18{
animation:ombreD18 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD18{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 366.1929, 2510.6223);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1608, 2510.6221);}
85%{opacity:0;}
}

#D19{
animation:ombreD19 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD19{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 183.2028, 2519.6304);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 183.1707, 2519.6301);}
85%{opacity:0;}
}

#D20{
animation:ombreD20 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD20{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 667.6778, 2546.6206);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 667.6458, 2546.6204);}
85%{opacity:0;}
}

#D21{
animation:ombreD21 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD21{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 61.7088, 2561.6199);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6768, 2561.6196);}
85%{opacity:0;}
}

#D22{
animation:ombreD22 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD22{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 720.1752, 2561.6199);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 720.1431, 2561.6196);}
85%{opacity:0;}
}

#D23{
animation:ombreD23 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD23{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 588.1818, 2576.6191);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 588.1497, 2576.6189);}
85%{opacity:0;}
}

#D24{
animation:ombreD24 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD24{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 366.1927, 2608.1182);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1606, 2608.1179);}
85%{opacity:0;}
}

#D25{
animation:ombreD25 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD25{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, -22.2807, 2657.1245);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, -22.3127, 2657.1243);}
85%{opacity:0;}
}

#D26{
animation:ombreD26 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD26{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 108.2114, 2685.6248);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 108.1793, 2685.6245);}
85%{opacity:0;}
}

#D27{
animation:ombreD27 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD27{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 360.1935, 2671.1235);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 360.1614, 2671.1233);}
85%{opacity:0;}
}

#D28{
animation:ombreD28 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD28{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 303.1935, 2695.1235);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 303.1614, 2695.1233);}
85%{opacity:0;}
}

#D29{
animation:ombreD29 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD29{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 541.6833, 2702.6245);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 541.6512, 2702.6243);}
85%{opacity:0;}
}

#D30{
animation:ombreD30 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD30{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 651.1852, 2702.6245);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 651.1532, 2702.6243);}
85%{opacity:0;}
}

#D31{
animation:ombreD31 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD31{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 39.1912, 2729.624);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 39.1592, 2729.6238);}
85%{opacity:0;}
}

#D32{
animation:ombreD32 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD32{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 240.1935, 2749.1235);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 240.1614, 2749.1233);}
85%{opacity:0;}
}

#D33{
animation:ombreD33 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD33{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 426.1935, 2794.1235);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 426.1614, 2794.1233);}
85%{opacity:0;}
}

#D34{
animation:ombreD34 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD34{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 318.1935, 2806.1235);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 318.1614, 2806.1233);}
85%{opacity:0;}
}

#D35{
animation:ombreD35 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD35{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 618.1863, 2806.1235);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 618.1542, 2806.1233);}
85%{opacity:0;}
}

#D36{
animation:ombreD36 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD36{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 108.2114, 2843.136);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 108.1794, 2843.1357);}
85%{opacity:0;}
}

#D37{
animation:ombreD37 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD37{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 1.558841e-02, 2864.6226);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.647627e-02, 2864.6223);}
85%{opacity:0;}
}

#D38{
animation:ombreD38 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD38{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 547.6829, 2889.634);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 547.6508, 2889.6338);}
85%{opacity:0;}
}

#D39{
animation:ombreD39 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD39{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 609.1863, 2912.1326);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 609.1544, 2912.1323);}
85%{opacity:0;}
}

#D40{
animation:ombreD40 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD40{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 748.6821, 2864.6221);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 748.65, 2864.6218);}
85%{opacity:0;}
}

#D41{
animation:ombreD41 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD41{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 247.7045, 2930.6191);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 247.6724, 2930.6189);}
85%{opacity:0;}
}

#D42{
animation:ombreD42 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD42{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 510.1935, 2930.6194);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 510.1614, 2930.6191);}
85%{opacity:0;}
}

#D43{
animation:ombreD43 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD43{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 141.1941, 2966.6147);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 141.162, 2966.6145);}
85%{opacity:0;}
}

#D44{
animation:ombreD44 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD44{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 624.1859, 2997.6191);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 624.1539, 2997.6189);}
85%{opacity:0;}
}

#D45{
animation:ombreD45 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD45{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 61.7088, 3018.6272);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6767, 3018.627);}
85%{opacity:0;}
}

#D46{
animation:ombreD46 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD46{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 690.1826, 3057.6165);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 690.1506, 3057.6162);}
85%{opacity:0;}
}

#D47{
animation:ombreD47 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD47{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 1.540816e-02, 3095.1233);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.665938e-02, 3095.123);}
85%{opacity:0;}
}

#D48{
animation:ombreD48 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD48{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 702.182, 3143.1121);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 702.15, 3143.1118);}
85%{opacity:0;}
}

#D49{
animation:ombreD49 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD49{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 567.1901, 3152.1206);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 567.1581, 3152.1204);}
85%{opacity:0;}
}

#D50{
animation:ombreD50 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD50{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 16.716, 3185.1189);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 16.6839, 3185.1187);}
85%{opacity:0;}
}

#D51{
animation:ombreD51 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD51{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 660.1774, 3245.1069);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 660.1453, 3245.1067);}
85%{opacity:0;}
}

#D52{
animation:ombreD52 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD52{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 768.1725, 3245.1064);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 768.1405, 3245.1062);}
85%{opacity:0;}
}

#D53{
animation:ombreD53 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD53{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 61.7086, 3251.1155);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6765, 3251.1152);}
85%{opacity:0;}
}

#D54{
animation:ombreD54 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD54{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 1.570857e-02, 3309.6121);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.635420e-02, 3309.6118);}
85%{opacity:0;}
}

#D55{
animation:ombreD55 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD55{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 129.2104, 3309.6125);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 129.1783, 3309.6123);}
85%{opacity:0;}
}

#D56{
animation:ombreD56 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD56{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 609.1863, 3321.6033);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 609.1543, 3321.603);}
85%{opacity:0;}
}

#D57{
animation:ombreD57 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD57{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 240.193, 3360.6104);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 240.1609, 3360.6101);}
85%{opacity:0;}
}

#D58{
animation:ombreD58 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD58{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 366.1928, 3386.1089);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1607, 3386.1086);}
85%{opacity:0;}
}

#D59{
animation:ombreD59 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD59{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 595.6844, 3423.6267);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 595.6524, 3423.6265);}
85%{opacity:0;}
}

#D60{
animation:ombreD60 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD60{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 366.1928, 3458.125);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1607, 3458.1248);}
85%{opacity:0;}
}

#D61{
animation:ombreD61 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD61{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 730.6802, 3458.1245);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 730.6481, 3458.1243);}
85%{opacity:0;}
}

#D62{
animation:ombreD62 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD62{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 225.203, 3489.6235);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 225.171, 3489.6233);}
85%{opacity:0;}
}

#D63{
animation:ombreD63 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD63{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 595.6845, 3515.1221);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 595.6525, 3515.1218);}
85%{opacity:0;}
}

#D64{
animation:ombreD64 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD64{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 366.1928, 3558.6248);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1607, 3558.6245);}
85%{opacity:0;}
}

#D65{
animation:ombreD65 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD65{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 711.1811, 3558.6245);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 711.1491, 3558.6243);}
85%{opacity:0;}
}

#D66{
animation:ombreD66 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD66{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 739.6796, 3621.6213);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 739.6476, 3621.6211);}
85%{opacity:0;}
}

#D67{
animation:ombreD67 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD67{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 660.1772, 3633.6208);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 660.1451, 3633.6206);}
85%{opacity:0;}
}

#D68{
animation:ombreD68 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD68{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 108.2112, 3642.6157);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 108.1791, 3642.6155);}
85%{opacity:0;}
}

#D69{
animation:ombreD69 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD69{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 774.178, 3663.6191);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 774.1459, 3663.6189);}
85%{opacity:0;}
}

#D70{
animation:ombreD70 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD70{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 559.6823, 3693.6133);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 559.6502, 3693.613);}
85%{opacity:0;}
}

#D71{
animation:ombreD71 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD71{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 759.1787, 3741.6155);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 759.1467, 3741.6152);}
85%{opacity:0;}
}

#D72{
animation:ombreD72 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD72{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 529.6838, 3774.6135);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 529.6517, 3774.6133);}
85%{opacity:0;}
}

#D73{
animation:ombreD73 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD73{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 702.1818, 3782.1135);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 702.1498, 3782.1133);}
85%{opacity:0;}
}

#D74{
animation:ombreD74 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD74{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 129.2103, 3846.615);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 129.1783, 3846.6147);}
85%{opacity:0;}
}

#D75{
animation:ombreD75 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD75{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 702.1819, 3903.6104);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 702.1499, 3903.6101);}
85%{opacity:0;}
}

#D76{
animation:ombreD76 150s linear;
animation-iteration-count: infinite;
}

@keyframes ombreD76{
0%,100%{opacity:0; transform:matrix(0.2774, 0, -0.9608, -0.2774, 595.6844, 3935.1089);}
45%{opacity:.6;}
75%{opacity:.6; transform:matrix(0.2774, 0, 0.9608, -0.2774, 595.6524, 3935.1086);}
85%{opacity:0;}
}*/