/*body  {
  padding-top:50px; 
}
.polls  {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
.poll   {
  width:25%;
  margin:20px;
}*/
  @font-face {
    font-family: "typo";
    src: url('Menlo.ttc') format('truetype');
  }

  #srt span em{
    font-style: italic;
    color:grey;
  }

  html{
    width:100%;
    height:100%;
  }

  ::-webkit-scrollbar { 
    display: none; 
}

  body{
    overflow: hidden;
    font-family: "typo", sans-serif;
    text-align: left;
    margin: 0px;
/*    -webkit-transition: color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
*/
    width:100%;
    height:100%;

    scroll-behavior: unset;
  }

  #MAMAN{
    position: absolute;
    z-index: 1;
    transform:translateY(0px);
  }

  #mamanDiv{
    width:100%;
    height:100%;
    top:0px;
  }

  #A1{
    font-size:130px;
    color:red;
    transform:matrix(1, 0, 0, 1, -2.0001, 94.7504);
  }

  #A1s{
/*    transform-origin: 0px,0px;
*/  transform:matrix(0.189, 0, -0.982, -0.189, -2.0012, 94.7508);
    font-size:687.8953px;
  }

  #bottomcontainer{
    margin:0 auto 0 auto;
    width:100%;
  }

  small{
    font-size: 9px;
    color:grey;
    margin-right: 12px;
  }

  .index{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  #serveur{
    color:blue;
  }

  #client{
    color:red;
  }


  ul{
    padding:0px;
    margin:0px;
  }

  ul#checklist{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    width: 50%;
    transform: translate(25%);
  }

  ul .ok{
    list-style-image: url('ok.ico');
  }

  ul .nope{
    list-style-image: url('nope.ico');
  }

  ul#fiction{
    display: flex;
    flex-direction: column-reverse;
  }


  #gcontainer{
    width:100%;
    height:100%;
    background-color: black;

/*    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;*/
  }

  .barred{
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    color: #989898;
  }

  #srtcontainer{
    /*c'est moi le plus foreground*/
    -webkit-transition: all 2s ease-in-out;
/*    width: 100%;
    height: 10%;
    position: absolute;
*/  }

  .invisible{
    opacity: 0;
  }

  .visible{
    opacity: 1;
  }

  .posmid{
    height : inherit;
    width : inherit;
    background-color: rgba(245, 245, 245, 0);
    /*hum hum transparance*/
    top:45%;
  }

  .posbot{
    height : inherit;
    width : inherit;
    background-color: white;
    top: 90%;
  }

  .postop{
    height : inherit;
    width : inherit;
    background-color: rgba(245, 245, 245, 0);
    /*hum hum transparance*/
    top : 12%;
  }

  #sacbouttons{
    margin-top:12px;
    z-index:11;

    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    top :200%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);

    opacity: 0;
  }

  #formulaire{
    transform: translateY(65vh);

    font-size: 20px;
    border-style:hidden;
    background-color: darkgrey;
    width:75%;
    margin-top:5px;
    margin-left:12.5%;
    padding-left: 2.5%;
    display: none;
    opacity: 0;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  #formulaire:focus{
    outline:0;
  }

  #bumper{
    height:17.5vh;
    background-color:inherit;
  }

  #srt{
    position: absolute;
    z-index: 2;
    color: black;
    background-color: darkgrey;
    width:75%;
    height:65vh;

    font-size:14px;
/*
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;*/

    padding-left: 4px;
    padding-right:3px;

    overflow: scroll;

    margin-left:12.5%;

/*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index:1000;
*/
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;      

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

  }


#stats {
  font-size: 0.5em;
}
#stream-ifr {
  display: none;
}
.hide {
  display: none !important;
}

textarea {
  font-size: 50%;
}


body.admin #gcontainer {
  height: 400px;
  position: relative;
}
div.login input {
  background-color: #FFF;
  color: #000;
}




@media (max-width:920px) {
  #nextshow{
    background-position: 0px 32px;
    }
  #first_drawing{
    display:none;
  }
  #inscription{
    text-align: center;
  }
  #success{
    font-size:15px;
  }
  /* #second_drawing{
    margin-left: -85px;
  transform: translateX(-15%);
  }
  */
}

  @media (max-width:500px) {
  #nextshow{
    background-position: 0px 43px;
    }
}

/* Les regex du cul servant à transformer les données svg en truc sympa format css*/

/* (?<=matrix\()[a-zA-Z0-9.,\s-]{0,} */
/* celui la pour isoler les variables de matrix dans le code du svg*/

/* #$2{\nanimation:ombre$2 10s linear;\nanimation-iteration-count: infinite;\n}\n\n@keyframes ombre$2{\n0%,100%{transform:matrix\($4\);}\n75%{transform:matrix\(xxxxx\);}\n}\n\n */
/* celui la pour remplacer les donnes svg simplifiee en id et donnees de la matrix en le code css*/

/*(<text id\=")([a-zA-Z0-9_]{0,}(?=" t))(" transform\="matrix\()((?<=matrix\()[a-zA-Z0-9.,\s-]{0,})*/
/* celui la pour casser le code svg en groupe utiles pour le regex*/


 /*ancien css pour un seul Arbre*/
/*  #Droite_1_{
  animation:ombre1 10s linear;
  animation-iteration-count: infinite;
}

@keyframes ombre1{
  0%,100%{transform:matrix(0.2774, 0, -0.9608, -0.2774, 436.1776, 318.125);}
  75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 436.1777, 318.1248);}
}*/


#OMD_5_{
animation:ombreOMD_5_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD_5_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 400.0319 4318.8774);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 399.9716, 4318.877);}
}

#OMD_4_{
animation:ombreOMD_4_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD_4_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 183.2189 4266.9023);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 183.1586, 4266.9023);}
}

#OMD_3_{
animation:ombreOMD_3_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD_3_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 61.7247 4722.9399);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6643, 4722.9399);}
}

#OMD_2_{
animation:ombreOMD_2_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD_2_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 -72.0329 4401.916);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, -72.0933, 4401.916);}
}

#OMD_1_{
animation:ombreOMD_1_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD_1_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 720.1912 4602.936);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 498.1413, 4518.9121);}
}

#OMD{
animation:ombreOMD 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreOMD{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 498.2017 4518.9121);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 720.1309, 4602.936);}
}

#XMLID_158_{
animation:ombreXMLID_158_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_158_{
0%,100%{transform:matrix(1 0 0 1 61.6926 4722.9424);}
75%{transform:matrix(1, 0, 0, 1, 61.6926, 4722.9424);}
}

#XMLID_134_{
animation:ombreXMLID_134_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_134_{
0%,100%{transform:matrix(1 0 0 1 399.9998 4318.8799);}
75%{transform:matrix(1, 0, 0, 1, 399.9998, 4318.8799);}
}

#XMLID_170_{
animation:ombreXMLID_170_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_170_{
0%,100%{transform:matrix(1 0 0 1 183.1869 4266.9048);}
75%{transform:matrix(1, 0, 0, 1, 183.1869, 4266.9048);}
}

#XMLID_143_{
animation:ombreXMLID_143_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_143_{
0%,100%{transform:matrix(1 0 0 1 -72.065 4401.9185);}
75%{transform:matrix(1, 0, 0, 1, -72.065, 4401.9185);}
}

#XMLID_164_{
animation:ombreXMLID_164_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_164_{
0%,100%{transform:matrix(1 0 0 1 720.1592 4602.9385);}
75%{transform:matrix(1, 0, 0, 1, 720.1592, 4602.9385);}
}

#XMLID_149_{
animation:ombreXMLID_149_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_149_{
0%,100%{transform:matrix(1 0 0 1 498.1696 4518.9146);}
75%{transform:matrix(1, 0, 0, 1, 498.1696, 4518.9146);}
}

#Droite_1_{
animation:ombreDroite_1_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_1_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 436.1935 318.1236);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 436.1614, 318.1234);}
}

#Droite_2_{
animation:ombreDroite_2_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_2_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 510.1935 862.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 510.1614, 862.1234);}
}

#Droite_3_{
animation:ombreDroite_3_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_3_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 354.1935 938.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 354.1614, 938.1234);}
}

#Droite_4_{
animation:ombreDroite_4_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_4_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 456.1933 998.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 456.1613, 998.1234);}
}

#Droite_6_{
animation:ombreDroite_6_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_6_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 193.7008 1449.6215);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 274.6646, 1511.1182);}
}

#Droite_7_{
animation:ombreDroite_7_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_7_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 274.6967 1511.1184);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 162.1703, 1580.1147);}
}

#Droite_8_{
animation:ombreDroite_8_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_8_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 162.2023 1580.115);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 321.1623, 1637.1118);}
}

#Droite_9_{
animation:ombreDroite_9_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_9_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 321.1944 1637.1121);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 559.6504, 1668.6102);}
}

#Droite_10_{
animation:ombreDroite_10_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_10_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 498.1855 1503.6188);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 660.1454, 1599.6138);}
}

#Droite_11_{
animation:ombreDroite_11_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_11_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 541.6833 1352.1263);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 388.6589, 1653.6111);}
}

#Droite_12_{
animation:ombreDroite_12_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_12_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 559.6824 1668.6105);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 78.1745, 1680.6097);}
}

#Droite_13_{
animation:ombreDroite_13_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_13_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 660.1774 1599.614);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.632369e-02, 1580.1147);}
}

#Droite_14_{
animation:ombreDroite_14_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_14_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 633.1788 1496.1191);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 588.1497, 1800.6189);}
}

#Droite_15_{
animation:ombreDroite_15_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_15_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 388.691 1653.6113);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1608, 1734.6222);}
}

#Droite_16_{
animation:ombreDroite_16_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_16_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 78.2065 1680.61);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 768.1407, 1680.6097);}
}

#Droite_17_{
animation:ombreDroite_17_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_17_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 1.573814e-02 1580.115);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 720.1431, 1785.6196);}
}

#Droite_18_{
animation:ombreDroite_18_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_18_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 588.1818 1800.6191);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 667.6458, 1770.6204);}
}

#Droite_19_{
animation:ombreDroite_19_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_19_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 366.1929 1734.6224);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 183.1707, 1743.6302);}
}

#Droite_20_{
animation:ombreDroite_20_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_20_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 768.1727 1680.61);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6768, 1785.6196);}
}

#Droite_21_{
animation:ombreDroite_21_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_21_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 720.1752 1785.6199);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1606, 1832.1179);}
}

#Droite_22_{
animation:ombreDroite_22_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_22_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 667.6778 1770.6206);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 303.1614, 1919.1234);}
}

#Droite_23_{
animation:ombreDroite_23_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_23_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 183.2028 1743.6305);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 360.1614, 1895.1234);}
}

#Droite_24_{
animation:ombreDroite_24_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_24_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 61.7088 1785.6199);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 240.1614, 1973.1234);}
}

#Droite_25_{
animation:ombreDroite_25_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_25_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 366.1927 1832.1182);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 651.1532, 1926.6244);}
}

#Droite_26_{
animation:ombreDroite_26_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_26_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 303.1935 1919.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 39.1592, 1953.6239);}
}

#Droite_27_{
animation:ombreDroite_27_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_27_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 360.1935 1895.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, -22.3127, 1881.1244);}
}

#Droite_28_{
animation:ombreDroite_28_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_28_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 426.1935 2018.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 108.1793, 1909.6245);}
}

#Droite_29_{
animation:ombreDroite_29_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_29_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 240.1935 1973.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 541.6512, 1926.6244);}
}

#Droite_30_{
animation:ombreDroite_30_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_30_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 651.1852 1926.6246);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 193.6687, 1449.6212);}
}

#Droite_31_{
animation:ombreDroite_31_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_31_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 318.1935 2030.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 541.6513, 1352.1261);}
}

#Droite_32_{
animation:ombreDroite_32_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_32_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 1.558841e-02 2088.6226);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 498.1535, 1503.6185);}
}

#Droite_33_{
animation:ombreDroite_33_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_33_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 39.1912 1953.6241);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 633.1467, 1496.1189);}
}

#Droite_34_{
animation:ombreDroite_34_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_34_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 510.1935 2154.6194);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 426.1614, 2018.1234);}
}

#Droite_38_{
animation:ombreDroite_38_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_38_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 624.1859 2221.6191);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 318.1614, 2030.1234);}
}

#Droite_39_{
animation:ombreDroite_39_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_39_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 690.1826 2281.6165);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.647627e-02, 2088.6223);}
}

#Droite_40_{
animation:ombreDroite_40_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_40_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 702.182 2367.1121);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 510.1614, 2154.6191);}
}

#Droite_41_{
animation:ombreDroite_41_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_41_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 660.1774 2469.1069);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 624.1539, 2221.6189);}
}

#Droite_42_{
animation:ombreDroite_42_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_42_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 609.1863 2545.6033);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 690.1506, 2281.6162);}
}

#Droite_43_{
animation:ombreDroite_43_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_43_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 240.193 2584.6104);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 702.15, 2367.1118);}
}

#Droite_44_{
animation:ombreDroite_44_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_44_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 61.7088 2242.6272);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 660.1453, 2469.1067);}
}

#Droite_45_{
animation:ombreDroite_45_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_45_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 1.540816e-02 2319.1233);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 609.1543, 2545.603);}
}

#Droite_46_{
animation:ombreDroite_46_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_46_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 16.716 2409.1189);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 240.1609, 2584.6101);}
}

#Droite_47_{
animation:ombreDroite_47_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_47_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 61.7086 2475.1155);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6767, 2242.627);}
}

#Droite_48_{
animation:ombreDroite_48_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_48_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 129.2104 2533.6125);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.665938e-02, 2319.123);}
}

#Droite_49_{
animation:ombreDroite_49_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_49_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 247.7045 2154.6191);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 16.6839, 2409.1187);}
}

#Droite_50_{
animation:ombreDroite_50_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_50_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 609.1863 2136.1326);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 61.6765, 2475.1152);}
}

#Droite_51_{
animation:ombreDroite_51_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_51_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 108.2114 2067.136);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 129.1783, 2533.6123);}
}

#Droite_53_{
animation:ombreDroite_53_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_53_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 366.1928 2610.1089);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 247.6724, 2154.6189);}
}

#Droite_54_{
animation:ombreDroite_54_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_54_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 547.6829 2113.634);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 609.1544, 2136.1323);}
}

#Droite_55_{
animation:ombreDroite_55_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_55_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 1.570857e-02 2533.6121);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 108.1794, 2067.1357);}
}

#Droite_56_{
animation:ombreDroite_56_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_56_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 567.1901 2376.1206);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1607, 2610.1086);}
}

#Droite_57_{
animation:ombreDroite_57_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_57_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 768.1725 2469.1064);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 547.6508, 2113.6338);}
}

#Droite_58_{
animation:ombreDroite_58_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_58_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 748.6821 2088.6221);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, -1.635420e-02, 2533.6118);}
}

#Droite_52_{
animation:ombreDroite_52_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_52_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 108.2114 1909.6248);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 567.1581, 2376.1204);}
}

#Droite_35_{
animation:ombreDroite_35_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_35_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 618.1863 2030.1237);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 768.1405, 2469.1062);}
}

#Droite_36_{
animation:ombreDroite_36_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_36_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 541.6833 1926.6246);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 748.65, 2088.6218);}
}

#Droite_37_{
animation:ombreDroite_37_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_37_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 141.1941 2190.6147);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 618.1542, 2030.1234);}
}

#Droite_60_{
animation:ombreDroite_60_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_60_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 595.6845 2739.1221);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 141.162, 2190.6145);}
}

#Droite_61_{
animation:ombreDroite_61_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_61_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 225.203 2713.6235);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 595.6525, 2739.1218);}
}

#Droite_62_{
animation:ombreDroite_62_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_62_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 108.2112 2866.6157);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 225.171, 2713.6233);}
}

#Droite_63_{
animation:ombreDroite_63_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_63_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 595.6844 2647.6267);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 108.1791, 2866.6155);}
}

#Droite_64_{
animation:ombreDroite_64_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_64_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 366.1928 2682.125);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 595.6524, 2647.6265);}
}

#Droite_65_{
animation:ombreDroite_65_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_65_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 559.6823 2917.6133);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1607, 2682.1248);}
}

#Droite_66_{
animation:ombreDroite_66_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_66_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 366.1928 2782.6248);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 559.6502, 2917.613);}
}

#Droite_67_{
animation:ombreDroite_67_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_67_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 711.1811 2782.6245);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 366.1607, 2782.6245);}
}

#Droite_68_{
animation:ombreDroite_68_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_68_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 774.178 2887.6191);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 711.1491, 2782.6243);}
}

#Droite_69_{
animation:ombreDroite_69_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_69_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 730.6802 2682.1245);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 774.1459, 2887.6189);}
}

#Droite_70_{
animation:ombreDroite_70_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_70_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 702.1818 3006.1135);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 730.6481, 2682.1243);}
}

#Droite_71_{
animation:ombreDroite_71_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_71_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 660.1772 2857.6208);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 702.1498, 3006.1133);}
}

#Droite_72_{
animation:ombreDroite_72_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_72_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 739.6796 2845.6213);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 660.1451, 2857.6206);}
}

#Droite_73_{
animation:ombreDroite_73_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_73_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 759.1787 2965.6155);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 739.6476, 2845.6211);}
}

#Droite_74_{
animation:ombreDroite_74_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_74_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 529.6838 2998.6135);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 759.1467, 2965.6152);}
}

#Droite_75_{
animation:ombreDroite_75_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_75_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 595.6844 3159.1089);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 529.6517, 2998.6133);}
}

#Droite_77_{
animation:ombreDroite_77_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_77_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 129.2103 3070.615);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 595.6524, 3159.1086);}
}

#Droite_59_{
animation:ombreDroite_59_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_59_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 -22.2807 1881.1246);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 702.1499, 3127.6101);}
}

#Droite_76_{
animation:ombreDroite_76_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreDroite_76_{
0%,100%{transform:matrix(0.2774 0 -0.9608 -0.2774 702.1819 3127.6104);}
75%{transform:matrix(0.2774, 0, 0.9608, -0.2774, 129.1783, 3070.6147);}
}

#XMLID_15_{
animation:ombreXMLID_15_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_15_{
0%,100%{transform:matrix(1 0 0 1 436.1777 318.125);}
75%{transform:matrix(1, 0, 0, 1, 436.1777, 318.125);}
}

#XMLID_16_{
animation:ombreXMLID_16_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_16_{
0%,100%{transform:matrix(1 0 0 1 510.1777 862.125);}
75%{transform:matrix(1, 0, 0, 1, 510.1777, 862.125);}
}

#XMLID_17_{
animation:ombreXMLID_17_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_17_{
0%,100%{transform:matrix(1 0 0 1 354.1777 938.125);}
75%{transform:matrix(1, 0, 0, 1, 354.1777, 938.125);}
}

#XMLID_18_{
animation:ombreXMLID_18_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_18_{
0%,100%{transform:matrix(1 0 0 1 456.1776 998.125);}
75%{transform:matrix(1, 0, 0, 1, 456.1776, 998.125);}
}

#XMLID_30_{
animation:ombreXMLID_30_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_30_{
0%,100%{transform:matrix(1 0 0 1 78.1908 1680.6113);}
75%{transform:matrix(1, 0, 0, 1, 78.1908, 1680.6113);}
}

#XMLID_39_{
animation:ombreXMLID_39_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_39_{
0%,100%{transform:matrix(1 0 0 1 366.1769 1832.1195);}
75%{transform:matrix(1, 0, 0, 1, 366.1769, 1832.1195);}
}

#XMLID_20_{
animation:ombreXMLID_20_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_20_{
0%,100%{transform:matrix(1 0 0 1 193.685 1449.6228);}
75%{transform:matrix(1, 0, 0, 1, 193.685, 1449.6228);}
}

#XMLID_24_{
animation:ombreXMLID_24_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_24_{
0%,100%{transform:matrix(1 0 0 1 498.1697 1503.6201);}
75%{transform:matrix(1, 0, 0, 1, 498.1697, 1503.6201);}
}

#XMLID_25_{
animation:ombreXMLID_25_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_25_{
0%,100%{transform:matrix(1 0 0 1 541.6676 1352.1277);}
75%{transform:matrix(1, 0, 0, 1, 541.6676, 1352.1277);}
}

#XMLID_21_{
animation:ombreXMLID_21_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_21_{
0%,100%{transform:matrix(1 0 0 1 274.6809 1511.1198);}
75%{transform:matrix(1, 0, 0, 1, 274.6809, 1511.1198);}
}

#XMLID_28_{
animation:ombreXMLID_28_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_28_{
0%,100%{transform:matrix(1 0 0 1 633.163 1496.1205);}
75%{transform:matrix(1, 0, 0, 1, 633.163, 1496.1205);}
}

#XMLID_22_{
animation:ombreXMLID_22_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_22_{
0%,100%{transform:matrix(1 0 0 1 162.1866 1580.1163);}
75%{transform:matrix(1, 0, 0, 1, 162.1866, 1580.1163);}
}

#XMLID_27_{
animation:ombreXMLID_27_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_27_{
0%,100%{transform:matrix(1 0 0 1 660.1616 1599.6154);}
75%{transform:matrix(1, 0, 0, 1, 660.1616, 1599.6154);}
}

#XMLID_31_{
animation:ombreXMLID_31_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_31_{
0%,100%{transform:matrix(1 0 0 1 -3.051758e-05 1580.1163);}
75%{transform:matrix(1, 0, 0, 1, -3.051758e-05, 1580.1163);}
}

#XMLID_34_{
animation:ombreXMLID_34_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_34_{
0%,100%{transform:matrix(1 0 0 1 768.157 1680.6113);}
75%{transform:matrix(1, 0, 0, 1, 768.157, 1680.6113);}
}

#XMLID_26_{
animation:ombreXMLID_26_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_26_{
0%,100%{transform:matrix(1 0 0 1 559.6667 1668.6118);}
75%{transform:matrix(1, 0, 0, 1, 559.6667, 1668.6118);}
}

#XMLID_29_{
animation:ombreXMLID_29_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_29_{
0%,100%{transform:matrix(1 0 0 1 388.6752 1653.6127);}
75%{transform:matrix(1, 0, 0, 1, 388.6752, 1653.6127);}
}

#XMLID_23_{
animation:ombreXMLID_23_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_23_{
0%,100%{transform:matrix(1 0 0 1 321.1786 1637.1134);}
75%{transform:matrix(1, 0, 0, 1, 321.1786, 1637.1134);}
}

#XMLID_37_{
animation:ombreXMLID_37_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_37_{
0%,100%{transform:matrix(1 0 0 1 183.187 1743.6318);}
75%{transform:matrix(1, 0, 0, 1, 183.187, 1743.6318);}
}

#XMLID_32_{
animation:ombreXMLID_32_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_32_{
0%,100%{transform:matrix(1 0 0 1 588.166 1800.6205);}
75%{transform:matrix(1, 0, 0, 1, 588.166, 1800.6205);}
}

#XMLID_33_{
animation:ombreXMLID_33_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_33_{
0%,100%{transform:matrix(1 0 0 1 366.1771 1734.6238);}
75%{transform:matrix(1, 0, 0, 1, 366.1771, 1734.6238);}
}

#XMLID_35_{
animation:ombreXMLID_35_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_35_{
0%,100%{transform:matrix(1 0 0 1 720.1594 1785.6212);}
75%{transform:matrix(1, 0, 0, 1, 720.1594, 1785.6212);}
}

#XMLID_36_{
animation:ombreXMLID_36_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_36_{
0%,100%{transform:matrix(1 0 0 1 667.662 1770.6219);}
75%{transform:matrix(1, 0, 0, 1, 667.662, 1770.6219);}
}

#XMLID_38_{
animation:ombreXMLID_38_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_38_{
0%,100%{transform:matrix(1 0 0 1 61.6931 1785.6212);}
75%{transform:matrix(1, 0, 0, 1, 61.6931, 1785.6212);}
}

#XMLID_40_{
animation:ombreXMLID_40_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_40_{
0%,100%{transform:matrix(1 0 0 1 303.1777 1919.125);}
75%{transform:matrix(1, 0, 0, 1, 303.1777, 1919.125);}
}

#XMLID_41_{
animation:ombreXMLID_41_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_41_{
0%,100%{transform:matrix(1 0 0 1 360.1777 1895.125);}
75%{transform:matrix(1, 0, 0, 1, 360.1777, 1895.125);}
}

#XMLID_42_{
animation:ombreXMLID_42_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_42_{
0%,100%{transform:matrix(1 0 0 1 426.1777 2018.125);}
75%{transform:matrix(1, 0, 0, 1, 426.1777, 2018.125);}
}

#XMLID_43_{
animation:ombreXMLID_43_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_43_{
0%,100%{transform:matrix(1 0 0 1 240.1777 1973.125);}
75%{transform:matrix(1, 0, 0, 1, 240.1777, 1973.125);}
}

#XMLID_44_{
animation:ombreXMLID_44_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_44_{
0%,100%{transform:matrix(1 0 0 1 651.1694 1926.626);}
75%{transform:matrix(1, 0, 0, 1, 651.1694, 1926.626);}
}

#XMLID_45_{
animation:ombreXMLID_45_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_45_{
0%,100%{transform:matrix(1 0 0 1 318.1777 2030.125);}
75%{transform:matrix(1, 0, 0, 1, 318.1777, 2030.125);}
}

#XMLID_46_{
animation:ombreXMLID_46_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_46_{
0%,100%{transform:matrix(1 0 0 1 -1.831055e-04 2088.624);}
75%{transform:matrix(1, 0, 0, 1, -1.831055e-04, 2088.624);}
}

#XMLID_47_{
animation:ombreXMLID_47_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_47_{
0%,100%{transform:matrix(1 0 0 1 39.1755 1953.6255);}
75%{transform:matrix(1, 0, 0, 1, 39.1755, 1953.6255);}
}

#XMLID_48_{
animation:ombreXMLID_48_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_48_{
0%,100%{transform:matrix(1 0 0 1 510.1777 2154.6208);}
75%{transform:matrix(1, 0, 0, 1, 510.1777, 2154.6208);}
}

#XMLID_77_{
animation:ombreXMLID_77_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_77_{
0%,100%{transform:matrix(1 0 0 1 247.6887 2154.6206);}
75%{transform:matrix(1, 0, 0, 1, 247.6887, 2154.6206);}
}

#XMLID_79_{
animation:ombreXMLID_79_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_79_{
0%,100%{transform:matrix(1 0 0 1 609.1707 2136.134);}
75%{transform:matrix(1, 0, 0, 1, 609.1707, 2136.134);}
}

#XMLID_81_{
animation:ombreXMLID_81_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_81_{
0%,100%{transform:matrix(1 0 0 1 108.1957 2067.1375);}
75%{transform:matrix(1, 0, 0, 1, 108.1957, 2067.1375);}
}

#XMLID_87_{
animation:ombreXMLID_87_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_87_{
0%,100%{transform:matrix(1 0 0 1 547.6671 2113.6353);}
75%{transform:matrix(1, 0, 0, 1, 547.6671, 2113.6353);}
}

#XMLID_95_{
animation:ombreXMLID_95_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_95_{
0%,100%{transform:matrix(1 0 0 1 748.6664 2088.6235);}
75%{transform:matrix(1, 0, 0, 1, 748.6664, 2088.6235);}
}

#XMLID_49_{
animation:ombreXMLID_49_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_49_{
0%,100%{transform:matrix(1 0 0 1 618.1705 2030.125);}
75%{transform:matrix(1, 0, 0, 1, 618.1705, 2030.125);}
}

#XMLID_50_{
animation:ombreXMLID_50_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_50_{
0%,100%{transform:matrix(1 0 0 1 541.6675 1926.626);}
75%{transform:matrix(1, 0, 0, 1, 541.6675, 1926.626);}
}

#XMLID_51_{
animation:ombreXMLID_51_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_51_{
0%,100%{transform:matrix(1 0 0 1 141.1783 2190.6162);}
75%{transform:matrix(1, 0, 0, 1, 141.1783, 2190.6162);}
}

#XMLID_97_{
animation:ombreXMLID_97_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_97_{
0%,100%{transform:matrix(1 0 0 1 -22.2964 1881.126);}
75%{transform:matrix(1, 0, 0, 1, -22.2964, 1881.126);}
}

#XMLID_83_{
animation:ombreXMLID_83_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_83_{
0%,100%{transform:matrix(1 0 0 1 108.1956 1909.6261);}
75%{transform:matrix(1, 0, 0, 1, 108.1956, 1909.6261);}
}

#XMLID_55_{
animation:ombreXMLID_55_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_55_{
0%,100%{transform:matrix(1 0 0 1 624.1702 2221.6206);}
75%{transform:matrix(1, 0, 0, 1, 624.1702, 2221.6206);}
}

#XMLID_57_{
animation:ombreXMLID_57_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_57_{
0%,100%{transform:matrix(1 0 0 1 690.1669 2281.6179);}
75%{transform:matrix(1, 0, 0, 1, 690.1669, 2281.6179);}
}

#XMLID_59_{
animation:ombreXMLID_59_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_59_{
0%,100%{transform:matrix(1 0 0 1 702.1663 2367.1135);}
75%{transform:matrix(1, 0, 0, 1, 702.1663, 2367.1135);}
}

#XMLID_61_{
animation:ombreXMLID_61_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_61_{
0%,100%{transform:matrix(1 0 0 1 660.1616 2469.1084);}
75%{transform:matrix(1, 0, 0, 1, 660.1616, 2469.1084);}
}

#XMLID_63_{
animation:ombreXMLID_63_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_63_{
0%,100%{transform:matrix(1 0 0 1 609.1705 2545.6047);}
75%{transform:matrix(1, 0, 0, 1, 609.1705, 2545.6047);}
}

#XMLID_65_{
animation:ombreXMLID_65_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_65_{
0%,100%{transform:matrix(1 0 0 1 240.1772 2584.6118);}
75%{transform:matrix(1, 0, 0, 1, 240.1772, 2584.6118);}
}

#XMLID_67_{
animation:ombreXMLID_67_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_67_{
0%,100%{transform:matrix(1 0 0 1 61.693 2242.6287);}
75%{transform:matrix(1, 0, 0, 1, 61.693, 2242.6287);}
}

#XMLID_69_{
animation:ombreXMLID_69_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_69_{
0%,100%{transform:matrix(1 0 0 1 -3.662109e-04 2319.1248);}
75%{transform:matrix(1, 0, 0, 1, -3.662109e-04, 2319.1248);}
}

#XMLID_71_{
animation:ombreXMLID_71_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_71_{
0%,100%{transform:matrix(1 0 0 1 16.7002 2409.1204);}
75%{transform:matrix(1, 0, 0, 1, 16.7002, 2409.1204);}
}

#XMLID_73_{
animation:ombreXMLID_73_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_73_{
0%,100%{transform:matrix(1 0 0 1 61.6928 2475.1169);}
75%{transform:matrix(1, 0, 0, 1, 61.6928, 2475.1169);}
}

#XMLID_75_{
animation:ombreXMLID_75_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_75_{
0%,100%{transform:matrix(1 0 0 1 129.1946 2533.614);}
75%{transform:matrix(1, 0, 0, 1, 129.1946, 2533.614);}
}

#XMLID_85_{
animation:ombreXMLID_85_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_85_{
0%,100%{transform:matrix(1 0 0 1 366.177 2610.1104);}
75%{transform:matrix(1, 0, 0, 1, 366.177, 2610.1104);}
}

#XMLID_89_{
animation:ombreXMLID_89_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_89_{
0%,100%{transform:matrix(1 0 0 1 -6.103516e-05 2533.6135);}
75%{transform:matrix(1, 0, 0, 1, -6.103516e-05, 2533.6135);}
}

#XMLID_91_{
animation:ombreXMLID_91_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_91_{
0%,100%{transform:matrix(1 0 0 1 567.1744 2376.1221);}
75%{transform:matrix(1, 0, 0, 1, 567.1744, 2376.1221);}
}

#XMLID_93_{
animation:ombreXMLID_93_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_93_{
0%,100%{transform:matrix(1 0 0 1 768.1568 2469.1079);}
75%{transform:matrix(1, 0, 0, 1, 768.1568, 2469.1079);}
}

#XMLID_99_{
animation:ombreXMLID_99_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_99_{
0%,100%{transform:matrix(1 0 0 1 595.6688 2739.1235);}
75%{transform:matrix(1, 0, 0, 1, 595.6688, 2739.1235);}
}

#XMLID_101_{
animation:ombreXMLID_101_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_101_{
0%,100%{transform:matrix(1 0 0 1 225.1873 2713.625);}
75%{transform:matrix(1, 0, 0, 1, 225.1873, 2713.625);}
}

#XMLID_103_{
animation:ombreXMLID_103_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_103_{
0%,100%{transform:matrix(1 0 0 1 108.1954 2866.6172);}
75%{transform:matrix(1, 0, 0, 1, 108.1954, 2866.6172);}
}

#XMLID_105_{
animation:ombreXMLID_105_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_105_{
0%,100%{transform:matrix(1 0 0 1 595.6687 2647.6282);}
75%{transform:matrix(1, 0, 0, 1, 595.6687, 2647.6282);}
}

#XMLID_107_{
animation:ombreXMLID_107_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_107_{
0%,100%{transform:matrix(1 0 0 1 366.177 2682.1265);}
75%{transform:matrix(1, 0, 0, 1, 366.177, 2682.1265);}
}

#XMLID_111_{
animation:ombreXMLID_111_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_111_{
0%,100%{transform:matrix(1 0 0 1 366.177 2782.6262);}
75%{transform:matrix(1, 0, 0, 1, 366.177, 2782.6262);}
}

#XMLID_113_{
animation:ombreXMLID_113_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_113_{
0%,100%{transform:matrix(1 0 0 1 711.1654 2782.626);}
75%{transform:matrix(1, 0, 0, 1, 711.1654, 2782.626);}
}

#XMLID_117_{
animation:ombreXMLID_117_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_117_{
0%,100%{transform:matrix(1 0 0 1 730.6644 2682.126);}
75%{transform:matrix(1, 0, 0, 1, 730.6644, 2682.126);}
}

#XMLID_119_{
animation:ombreXMLID_119_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_119_{
0%,100%{transform:matrix(1 0 0 1 702.1661 3006.115);}
75%{transform:matrix(1, 0, 0, 1, 702.1661, 3006.115);}
}

#XMLID_121_{
animation:ombreXMLID_121_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_121_{
0%,100%{transform:matrix(1 0 0 1 660.1614 2857.6223);}
75%{transform:matrix(1, 0, 0, 1, 660.1614, 2857.6223);}
}

#XMLID_123_{
animation:ombreXMLID_123_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_123_{
0%,100%{transform:matrix(1 0 0 1 739.6639 2845.6228);}
75%{transform:matrix(1, 0, 0, 1, 739.6639, 2845.6228);}
}

#XMLID_133_{
animation:ombreXMLID_133_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_133_{
0%,100%{transform:matrix(1 0 0 1 129.1946 3070.6165);}
75%{transform:matrix(1, 0, 0, 1, 129.1946, 3070.6165);}
}

#XMLID_115_{
animation:ombreXMLID_115_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_115_{
0%,100%{transform:matrix(1 0 0 1 774.1622 2887.6206);}
75%{transform:matrix(1, 0, 0, 1, 774.1622, 2887.6206);}
}

#XMLID_109_{
animation:ombreXMLID_109_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_109_{
0%,100%{transform:matrix(1 0 0 1 559.6665 2917.6147);}
75%{transform:matrix(1, 0, 0, 1, 559.6665, 2917.6147);}
}

#XMLID_125_{
animation:ombreXMLID_125_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_125_{
0%,100%{transform:matrix(1 0 0 1 759.163 2965.6169);}
75%{transform:matrix(1, 0, 0, 1, 759.163, 2965.6169);}
}

#XMLID_127_{
animation:ombreXMLID_127_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_127_{
0%,100%{transform:matrix(1 0 0 1 529.668 2998.615);}
75%{transform:matrix(1, 0, 0, 1, 529.668, 2998.615);}
}

#XMLID_129_{
animation:ombreXMLID_129_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_129_{
0%,100%{transform:matrix(1 0 0 1 595.6687 3159.1104);}
75%{transform:matrix(1, 0, 0, 1, 595.6687, 3159.1104);}
}

#XMLID_131_{
animation:ombreXMLID_131_ 10s linear;
animation-iteration-count: infinite;
}

@keyframes ombreXMLID_131_{
0%,100%{transform:matrix(1 0 0 1 702.1662 3127.6118);}
75%{transform:matrix(1, 0, 0, 1, 702.1662, 3127.6118);}
}
