<head>
  <title>Un Espace Abstrait</title>
  <meta charset="utf-8">
</head>

<template name="admin">

  <h1>Admin</h1>
  {{> loginButtons}}
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="small admin_menu">
          <li><a href="/data" target="_blank">data</a></li>
          <li><a href="/representations" target="_blank">réprésentations</a></li>
          <li><a href="/users" target="_blank">users</a></li>
          <li><a href="/speedtest" target="_blank">speedtest</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
        <h2>Spectacle <button data-toggle="collapse" data-target="#showtime">▾</button></h2>

        <div id="showtime" class="collapse in">

          <div class="col-lg-12 col-md-12">
                {{> showtime}}
          </div>
        </div>
    </div>


<!-- 
    <div class="row" style="display:none">
      {{> screen}}
    </div>
 -->


  </div>  


</template>


<template name="relTime">
    {{localeTime this}}
    <br>
    ({{relativeTime this}})
</template>


<template name="showtime">
    showtime !<br />

    <div class="col-lg-6 col-md-6 col-xs-12 switches small text-left">
      <label for="showmode" title="ou mettre le site en mode Spectacle">Mode Pré-Spectacle</label>
      <input id="showmode" title="aka let's gro!" type="checkbox" checked="{{isModeSpectacleChecked}}" /><br />
      <label for="josebove" title="Prendre le pouvoir / Démarrer le spectacle - ou prendre la main sur le déroulé des évènements">Entrée Public</label> 
      <input id="josebove" title="aka José Bové!" type="checkbox" checked="{{isPowerToTheAdminChecked}}" /><br />
      compteur = <span id="currentCompteur">{{compteurAdmin}}</span> <input id="adminCompteur" name="adminCompteur" placeholder="compteur" value="{{compteurAdmin}}" size="3" /><input type="button" id="setCompteur" value="change"><br />

      <input type="button" id="resetSUPERinterrupt" value="go to bookmark" title="reset SUPERinterrupt / go to bookmark" />
      <input type="text" id="whereSUPERinterrupt" placeholder="bookmark?" value="liaison_tel"/>
      <br />
      <div class="autofill_bookmark">
        <span>texteFin</span><br />
        <span>Fin2</span><br />
        <span>noirPanic</span><br />
      </div>
      <br />
     
      <button id="next">next</button>

   <form>
    <input id="whoShowLight" type="form">
    <button type="button" id="whoShowLightButton">BIM</button> 
  </form> 

</div>

<div>
  
<!-- for each part in database
  make a reactive checkbox for the admin m
 -->

 {{#each ViewSwitchers}}
<label class="container"> {{name}}
<input type="checkbox" class="viewSwitcher" id={{name}} checked={{activated}}> <!-- là faut du meteor -->
<span class="checkmark"></span>
</label>
{{/each}}

    <button id="removeClicAdmin">removeClicAdmin</button> 
    <button id="logScoreAdmin">logScoreAdmin</button> 
    <button class="winners">CALC WINNERS</button> 
    <button id="armKeyboard"> ARM KEYBOARD</button>
    <button id="noirDeFin"> NOIR DE FIN</button>
    <button id="scoreG"> SCOREG</button>
    <button id="scoreD"> SCORED</button>

</div>

</template>
