<head>
  <title>JACKY</title>
  <meta charset="utf-8">
</head>

<!-- 	#
	# HERE IS
	# THE ADMIN'S INTERFACE
	# -->

<template name="covid19">
	<div id="lazyStartup">
		Streamer
		<input type="button" name="startTimerSteps" value="startTimerSteps" onclick="Meteor.call('startTimerSteps')">
		<input type="button" name="killTimerSteps" value="killTimerSteps" onclick="Meteor.call('killTimerSteps')">

		Autorun
		<input type="button" name="autoRun" value="autoRun" onclick="Meteor.call('autoRun')">
		<input type="button" name="stopRun" value="stopRun" onclick="Meteor.call('stopRun')">

		Admin
		<input type="button" name="resetPosition" value="resetPosition" onclick="Meteor.call('resetPosition')">
		<input type="button" name="getRidOfWinners" value="getRidOfWinners" onclick="Meteor.call('getRidOfWinners')">
		<input type="button" name="killBonhommes" value="killBonhommes" onclick="Meteor.call('killBonhommes')">
		<input type="button" name="forceRefresh" value="forceRefresh" onclick="Meteor.call('forceRefresh')">


	
<!-- 		pseudo : <input type="text" id="pseudoInput" maxlength="3" size="3">
		<input type="button" name="send" value="OK" onclick="sendPseudo(playerId, document.getElementById('pseudoInput').value)">
 -->	</div>

	<div id="sav"> vous pensiez qui c'était vous qui aviez gagné?
		<input type="button" name="oui" value="oui" onclick="thinksHeWon(playerId, 'oui')">
		<input type="button" name="non" value="non" onclick="thinksHeWon(playerId, 'non')">
	</div>

<!-- 	#
	# HERE IS
	# DOMINIQUES RACE
	# -->
<!-- 
<div id="dominiquesRace">

<div id="dominiquesRunners">
	<div class="dominiqueRunner">AAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>

</div>

<div id="texte">
Cette présentation est dédiée à Dominique Sommeveille, mon ancien médecin traitant dans l'avant-pays savoyard. C'est quelqu'un qui n'aimait pas beaucoup l'informatique, qui n'avait pas d'ordinateur et qui travaillait uniquement avec le gros dictionnaire des médicaments là, le vidal, vous voyez? 
donc je disais
dominique. L'âge de la retraite approchait. C'est comme si une course s'était engagé entre lui et l'informatisation du monde. Qui allait arriver en premier? Allait-il pouvoir conserver ses méthodes de travail jusqu'à la fin de sa vie professionnelle?
deux ans avant la retraite, un ordinateur est apparu sur son bureau. Était-ce lui qui s'est dit "boah merde j'ai qu'a essayer j'ai pas grand chose à perdre". Ou est-ce une directive qui est tombée d'en haut, comme un couperet?
quoi qu'il en soit, voilà qu'après chaque consultation, il s'installe à son bureau, mains sur le clavier, yeux rivés sur l'écran. Il se tait entièrement. Je me tais aussi, je le regarde. Il tape l'ordonnance, très lentement, touche après touche, en respirant très fort avec les narines. S'écoulent comme ça deux, trois minutes, dans un silence total, très paisibles. 
En fait j'aimais vraiment très fort ce moment, à la fin de chaque consultation. C'était comme une petite méditation à deux.
enfin disons que ça aurait été chouette si c'était pas juste quelqu'un se faisant tordre par la marche du progrès n'est ce pas.

</div>


</div>
 -->
<!-- 	#
	# HERE IS
	# THE FIRST LINEAR RACE
	# -->

 <div id="runnersGrid">

 	<div id="sam">
<!--  		<div id="blabla">
 			mais bon vous aurez compris que c'était moi qui faisais défiler le texte
 		</div> -->

 		<div class="personne">
			<div class="spriteSam"></div>	
 		</div>

		<div id="victory" style="opacity:{{winnerOnOff}}">
		{{#each winner}}
			<div id="winner">
				VICTOIRE DE <br/>
				<div> {{commune}} </div>
				<div> {{pseudo}} </div>
				<div> {{score}} </div>
			</div>
		{{/each}}
		</div>

	 </div>

	<div id="the_track">
		{{#each bonhomme}}
		    <div id="player{{_id}}" class="wordcontainer {{vous}}">
		      <div class="brasARR">
		        <div class="spriteback1"></div>
		        <div class="spriteback2"></div>
		        <div class="spriteback3"></div>
		        <div class="spriteback4"></div>
		        <div class="spriteback5"></div>
		        <div class="spriteback6"></div>
		        <div class="spriteback7"></div>
		        <div class="spriteback8"></div>
		        <div class="spriteback9"></div>
		        <div class="spriteback10"></div>
		        <div class="spriteback11"></div>
		        <div class="spriteback12"></div>
		      </div>

		      {{_id}}

		      <div class="brasAVT">
		        <div class="spritefront1"></div>
		        <div class="spritefront2"></div>
		        <div class="spritefront3"></div>
		        <div class="spritefront4"></div>
		        <div class="spritefront5"></div>
		        <div class="spritefront6"></div>
		        <div class="spritefront7"></div>
		        <div class="spritefront8"></div>
		        <div class="spritefront9"></div>
		        <div class="spritefront10"></div>
		        <div class="spritefront11"></div>
		        <div class="spritefront12"></div>
		      </div>
		    </div>
		{{/each}}
	</div>
</div>

	<div id="halloffame">
		<table>
			<tr>
				<th>Course:</th>
				<th>Commune:</th>
				<th>Pseudo:</th>
				<th>Time(ms):</th>
			</tr>
			{{#each HallOfFameList}}
			<tr>
				<th>{{whichCourse}}</th>
				<th>{{commune}}</th>
				<th>{{pseudo}}</th>
				<th>{{score}}</th>
			</tr>	
			{{/each}}
		</table>
	</div>

  {{> screen}}

</template>