ul.admin_menu {
  list-style-type: none;
  display: inline-block;
}
ul.admin_menu li {
  float: left;
}
ul.admin_menu li:after {
  content: "/";
  margin-left: 1em;
  margin-right: 1em;
}
ul.admin_menu li:last-child:after {
  content: "";
}

/* videoproj */
body.strobe #srt {
  display:none;
}

#gcontainer {
	    -webkit-transition: background-color 0s !important;
    -moz-transition: background-color 0s !important;
    -o-transition: background-color 0s !important;
    transition: background-color 0s !important;

}
