<template name="test">
  <div class="container">

    <div id="greenbackground">

    </div>

    <div id="the_track">

      <div id="trackbackground">
        <div class="trackverticalline"></div>
        <div class="trackverticalline"></div>
        <div class="trackverticalline"></div>
        <div class="trackverticalline"></div>
        <div class="trackverticalline"></div>
        <div class="trackverticalline"></div>
      </div>

      <div class="mark mark-0"></div>
      <div class="mark mark-10"></div>
      <div class="mark mark-20"></div>
      <div class="mark mark-30"></div>
      <div class="mark mark-40"></div>
      <div class="mark mark-50"></div>
      <div class="mark mark-60"></div>
      <div class="mark mark-70"></div>
      <div class="mark mark-80"></div>
      <div class="mark mark-90"></div>
      <div class="mark mark-100"></div>

      <div id="players">

        <div id="player-1" class="wordcontainer">
          <div class="brasARR">
            <div class="spriteback1"></div>
            <div class="spriteback2"></div>
            <div class="spriteback3"></div>
            <div class="spriteback4"></div>
            <div class="spriteback5"></div>
            <div class="spriteback6"></div>
            <div class="spriteback7"></div>
            <div class="spriteback8"></div>
            <div class="spriteback9"></div>
            <div class="spriteback10"></div>
            <div class="spriteback11"></div>
            <div class="spriteback12"></div>
          </div>

          espace

          <div class="brasAVT">
            <div class="spritefront1"></div>
            <div class="spritefront2"></div>
            <div class="spritefront3"></div>
            <div class="spritefront4"></div>
            <div class="spritefront5"></div>
            <div class="spritefront6"></div>
            <div class="spritefront7"></div>
            <div class="spritefront8"></div>
            <div class="spritefront9"></div>
            <div class="spritefront10"></div>
            <div class="spritefront11"></div>
            <div class="spritefront12"></div>
          </div>
        </div>



       <div id="player-2" class="wordcontainer">
          <div class="brasARR">
            <div class="spriteback1"></div>
            <div class="spriteback2"></div>
            <div class="spriteback3"></div>
            <div class="spriteback4"></div>
            <div class="spriteback5"></div>
            <div class="spriteback6"></div>
            <div class="spriteback7"></div>
            <div class="spriteback8"></div>
            <div class="spriteback9"></div>
            <div class="spriteback10"></div>
            <div class="spriteback11"></div>
            <div class="spriteback12"></div>
          </div>

          le

          <div class="brasAVT">
            <div class="spritefront1"></div>
            <div class="spritefront2"></div>
            <div class="spritefront3"></div>
            <div class="spritefront4"></div>
            <div class="spritefront5"></div>
            <div class="spritefront6"></div>
            <div class="spritefront7"></div>
            <div class="spritefront8"></div>
            <div class="spritefront9"></div>
            <div class="spritefront10"></div>
            <div class="spritefront11"></div>
            <div class="spritefront12"></div>
          </div>

        </div>



       <div id="player-3" class="wordcontainer">
          <div class="brasARR">
            <div class="spriteback1"></div>
            <div class="spriteback2"></div>
            <div class="spriteback3"></div>
            <div class="spriteback4"></div>
            <div class="spriteback5"></div>
            <div class="spriteback6"></div>
            <div class="spriteback7"></div>
            <div class="spriteback8"></div>
            <div class="spriteback9"></div>
            <div class="spriteback10"></div>
            <div class="spriteback11"></div>
            <div class="spriteback12"></div>
          </div>

          écran

          <div class="brasAVT">
            <div class="spritefront1"></div>
            <div class="spritefront2"></div>
            <div class="spritefront3"></div>
            <div class="spritefront4"></div>
            <div class="spritefront5"></div>
            <div class="spritefront6"></div>
            <div class="spritefront7"></div>
            <div class="spritefront8"></div>
            <div class="spritefront9"></div>
            <div class="spritefront10"></div>
            <div class="spritefront11"></div>
            <div class="spritefront12"></div>
          </div>

        </div>



       <div id="player-4" class="wordcontainer">
          <div class="brasARR">
            <div class="spriteback1"></div>
            <div class="spriteback2"></div>
            <div class="spriteback3"></div>
            <div class="spriteback4"></div>
            <div class="spriteback5"></div>
            <div class="spriteback6"></div>
            <div class="spriteback7"></div>
            <div class="spriteback8"></div>
            <div class="spriteback9"></div>
            <div class="spriteback10"></div>
            <div class="spriteback11"></div>
            <div class="spriteback12"></div>
          </div>

          ordinateur

          <div class="brasAVT">
            <div class="spritefront1"></div>
            <div class="spritefront2"></div>
            <div class="spritefront3"></div>
            <div class="spritefront4"></div>
            <div class="spritefront5"></div>
            <div class="spritefront6"></div>
            <div class="spritefront7"></div>
            <div class="spritefront8"></div>
            <div class="spritefront9"></div>
            <div class="spritefront10"></div>
            <div class="spritefront11"></div>
            <div class="spritefront12"></div>
          </div>

        </div>
        




      </div>

    </div>

  </div>
</template>
