ul.admin_menu {
  list-style-type: none;
  display: inline-block;
}
ul.admin_menu li {
  float: left;
}
ul.admin_menu li:after {
  content: "/";
  margin-left: 1em;
  margin-right: 1em;
}
ul.admin_menu li:last-child:after {
  content: "";
}

/* videoproj */
body.videoproj #srt {
color: white !important;
width:100% !important;
background-color:black !important;
font-size:80px !important;
height:auto !important;
margin: 0px !important;
padding: 50px !important;
top:170px !important;
text-align:center;
}
body.videoproj #srt span.vp {
  color: white;
}

