ul.admin_menu {
  list-style-type: none;
  display: inline-block;
}
ul.admin_menu li {
  float: left;
}
ul.admin_menu li:after {
  content: "/";
  margin-left: 1em;
  margin-right: 1em;
}
ul.admin_menu li:last-child:after {
  content: "";
}

/* videoproj */
body.videoproj #srt {
color: white !important;
width:100% !important;
background-color:black !important;
font-size:10px !important;
height:auto !important;
margin: 0px !important;
padding: 50px !important;
top:170px !important;
text-align:center;
}

body.videoproj #arr{
	position: fixed;
	top: 63%;
	left: 20%;
	color:red;

	transition:opacity 3s;
}


body.videoproj #testRunningGuy{
	width:89px !important;
height:106px !important;
	position:fixed;
	top:66%;
	left:20%;
   background-size: contain !important;
   background-repeat: no-repeat !important ;
}


body.videoproj #sprite1{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-1.png')
}
body.videoproj #sprite2{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-2.png')
}
body.videoproj #sprite3{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-3.png')
}
body.videoproj #sprite4{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-4.png')
}
body.videoproj #sprite5{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-5.png')
}
body.videoproj #sprite6{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-6.png')
}
body.videoproj #sprite7{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-7.png')
}
body.videoproj #sprite8{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-8.png')
}
body.videoproj #sprite9{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-9.png')
}
body.videoproj #sprite10{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-10.png')
}
body.videoproj #sprite11{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-11.png')
}
body.videoproj #sprite12{width:inherit;height:inherit;position:inherit;top:inherit;left:inherit;
background-image: url('img/running guy-12.png')
}



/*

body.videoproj #runningGuyD{
	position:fixed;
	top:66%;
	left:20%;
	width:89px !important;
	height:106px !important;
   background-size: contain !important;
   background-repeat: no-repeat !important ;

      	transition:opacity 10s;
}

body.videoproj #runningGuyG{
	position:fixed;
	top:80%;
	left:20%;
	width:89px !important;
	height:106px !important;
   background-size: contain !important;
   background-repeat: no-repeat !important ;

   	transition:opacity 10s;
}
*/
body.videoproj #victory{
	opacity: 0;
	font-size:200px;
	color:blue;
	z-index:10000000;
	position:fixed;
	top:33%;
	left:50%;
	transform:translate(-50%,-50%);

	transition:opacity 1s;
}

body.videoproj #progressBar{
	height:1px;
	width:58%;
	background-color:white;
	position:fixed;
	top:95%;
	left:21%;

	transition:opacity 3s;
}

body.videoproj #srt span.vp {
  color: white;
}
body.videoproj #gcontainer{
	background-color:black;
}

